
@font-face {
  font-family: 'Matter-Medium';
  src: url(./fonts/Matter-Medium.ttf);
}

@font-face {
  font-family: 'Matter-Bold';
  src: url(./fonts/Matter-Bold.ttf);
}

@font-face {
  font-family: 'Matter-Regular';
  src: url(./fonts/Matter-Regular.ttf);
}

@font-face {
  font-family: 'Matter-Light';
  src: url(./fonts/Matter-Light.ttf);
}

@font-face {
  font-family: 'Matter-SemiBold';
  src: url(./fonts/Matter-SemiBold.ttf);
}

::-webkit-scrollbar {
  display: none;
}